<html>
    <body>
        <ul><Li><a href="/">Home</a></Li></ul>
        <Li><a href="/mzn">Muzaffarnager</a></Li>
        <Li><a href="/pnb">Punjab</a></Li>
        <Li><a href="/noi">Noida</a></Li>
        <Li><a href="/gud">Gudgav</a></Li>
        <h1> <%= title%> </h1>
        <h4> <%= headline%></h4>
        City Page
    </body>
</html>